.homepage-grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.carousel {
    margin-top: 10rem;
}

@media (min-width: 640px) {
    .homepage-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .homepage-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .homepage-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
